<% layout("../layouts/boilerplate.ejs") %>

<body>
    <h2 class="newListings-title poppins-regular">
        It's okay, we all do mistakes sometimes
    </h2>


    <form class="createForm" method="post" action="/listings/<%= listing._id %>?_method=PUT" enctype="multipart/form-data">
        
        <p>Title</p>
        <input class=" poppins-regular" type="text" name="listing[title]" placeholder="Name of listing" value="<%= listing.title %>" required>

        <p>Description</p>
        <textarea class=" poppins-regular" type="text" name="listing[description]" placeholder="description" required ><%= listing.description %> </textarea>

        <p>Upload listing image </p>
        <input class=" poppins-regular" type="file" name="listing[image]">

        <p>Original image</p>
        <br>
        <img src="<%= originalImageUrl %>" alt="your listing image">

        <br>

        <p>Price</p>
        <input class=" poppins-regular" type="number" name="listing[price]" placeholder="price in INR" value="<%= listing.price %>" required >
        
        <p>Location</p>
        <input class=" poppins-regular" type="text" name="listing[location]" placeholder="Location" value="<%= listing.location %>" required>

        <p>Country</p>
        <input class=" poppins-regular" type="text" name="listing[country]" placeholder="Country" value="<%= listing.country %>" required >

        <button type="submit" class="poppins-regular createBtn">Update!</button>
    </form>

    

</body>
