<% layout("../layouts/boilerplate.ejs") %>

<body>
    
    <ul class="listingContainer">
        <% for(let listing of allListings){ %> 
            <div class="row">             
                    <a class="" href="/listings/show/<%= listing._id %>">
                        <div class="imageContainer">
                            <img src="<%= listing.image.url %>" class="card-img-top" alt="listing image">            
                        </div>                        
                    </a>
 
                <li class="listOfTitles">
    
                    <a class="poppins-regular listingTitle" href="/listings/show/<%= listing._id %>">
                        <%= listing.title %>
                    </a>
    
                    <br>
    
                    <p class="poppins-regular listingPrice" >&#8377;<%= listing.price.toLocaleString("en-IN") %> <p class="night">night</p></p>
    
                </li>   
            </div>
            
        <% } %>
    </ul>

</body>