<% layout("../layouts/boilerplate.ejs") %>

<body>
    <h2 class="poppins-regular">
        Our available listings
    </h2>



    <ul class="listingContainer">
        <% for(let listing of allListings){ %> 
            <div class="row">
                
                <div class="" >
                    <a class="" href="/listings/show/<%= listing._id %>">
    
                        <img src="<%= listing.image.url %>" class="card-img-top" alt="listing image">
                        
                    </a>
                    
                </div>
    
    
                <li class="listOfTitles">
    
                    <a class="poppins-regular listingTitle" href="/listings/show/<%= listing._id %>">
                        <%= listing.title %>
                    </a>
    
                    <br>
    
                    <p class="poppins-regular listingPrice" >&#8377;<%= listing.price.toLocaleString("en-IN") %> <p class="night">night</p></p>
    
                </li>   
            </div>
            
        <% } %>
    </ul>

</body>