<% layout("../layouts/boilerplate.ejs") %>

<body>

    <h2 class="show-title poppins-regular">
        <%= listing.title %>
    </h2>
    <div class="showContainer">
        <div class="showImgContainer">
            <img class="showImg" src="<%= listing.image.url %>" alt="listing image">
        </div>
    
        <div class="showTextContainer">
            <p> Hosted by:&nbsp;&nbsp;<i>@<%= listing.owner[0].username %></i><p>
     
            <p class=" poppins-regular" ><%= listing.description %></p>
    
            <!-- for price  we use symbols -->
            <p class=" poppins-regular" >&#8377;<%= listing.price.toLocaleString("en-IN") %></p>
    
            <p class=" poppins-regular" ><%= listing.location %></p>
    
            <p class=" poppins-regular" ><%= listing.country %></p>

            <p class="categoryTag poppins-regular" ><%= listing.category %></p>
        </div>

        <% if(currUser && currUser._id.toLocaleString() === listing.owner[0]._id.toLocaleString()){ %>
            <div class="editListing">
                <form method="get" action="/listings/edit/<%= listing._id %>">
                    <button type="submit" class=" poppins-regular button">Edit listing</button>
                </form>
            </div>
        
            <div class="deleteListing">
                <form method="post" action="/listings/<%= listing._id %>?_method=DELETE">
        
                    <button type="submit" class="deleteBtn poppins-regular button">Delete listing</button>
                </form>
            </div>
        <% } %> 

    </div>
    
    <% if(currUser){ %>

    <hr>
    
    <div class="reviewBox">
        <h4 class="poppins-regular">Leave a review</h4>
        
        
            
        <form method="post" action="/listings/<%= listing._id %>/review">
            <div class="poppins-regular ratingBox">
                <label for="rating">Rating
                </label>


                <fieldset class="starability-coinFlip">
                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="3" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>
                
            </div>
            
            <div class="poppins-regular commentBox">
                <label for="comment">Your thoughts..
                </label>

                <textarea name="review[comment]" id="comment" rows="4" required></textarea>
            </div>
            
            
            <button type="submit" class="submitBtn button">Post</button>

        </form>
        
    </div>

    <% } %>

    
    <% if(listing.review[0]){ %>
        <hr>

        <h5 class="reviewsText"><u>Reviews</u></h5>

    <% } %>
    

    <div class="allReviews">    
        
            <% for(review of listing.review){ %>
                
                    <div class="showReviewBox">
                        <p class="reviewUsername">@<%= review.author.username %></p>
                        <div class="result-box">
                            <p class="starability-result" data-rating="<%= review.rating %>">
                            </p>
                        </div>
                        
                        <p class="reviewComment"><%= review.comment %></p>

                        <% if(currUser && currUser._id.toLocaleString() === review.author._id.toLocaleString()){ %>

                        <form method="post" action="/listings/<%= listing._id %>/review/<%= review._id %>?_method=DELETE">

                            <button class="deleteBtn delReviewBtn button">Delete</button>
                        </form>

                        <% } %> 
                    </div>     
            <% } %>
    
    </div>
       
    <div class="showMap">
        <div id="map"></div>
    </div>

    <!-- Google Maps -->
    <script>
        (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
          key: "<%= apiKey %>",
          v: "weekly",
        });
    </script>

    <script>
        const listingCoordinates = JSON.parse("<%= JSON.stringify(listing.geometry.coordinates) %>");
    </script>

</body>
