<% layout("../layouts/boilerplate.ejs") %>

<body>

    <h2 class="show-title poppins-regular">
        <%= listing.title %>
    </h2>
    <div class="showContainer">
        <div class="showImgContainer">
            <img class="showImg" src="<%= listing.image.url %>" alt="listing image">
        </div>
    
        <div class="showTextContainer">
            <p> Hosted by:&nbsp;&nbsp;<i><%= listing.owner[0].username %></i><p>
    
            <p class=" poppins-regular" ><%= listing.description %></p>
    
            <!-- for price  we use symbols -->
            <p class=" poppins-regular" >&#8377;<%= listing.price.toLocaleString("en-IN") %></p>
    
            <p class=" poppins-regular" ><%= listing.location %></p>
    
            <p class=" poppins-regular" ><%= listing.country %></p>
        </div>

        <% if(currUser && currUser.username === listing.owner[0].username){ %>
            <div class="editListing">
                <form method="get" action="/listings/edit/<%= listing._id %>">
                    <button type="submit" class=" poppins-regular">Edit listing</button>
                </form>
            </div>
        
            <div class="deleteListing">
                <form method="post" action="/listings/delete/<%= listing._id %>?_method=DELETE">
        
                    <button type="submit" class="deleteBtn poppins-regular">Delete listing</button>
                </form>
            </div>
        <% } %> 

    </div>

    <hr>
    
    <div class="reviewBox">
        <h4 class="poppins-regular">Leave a review</h4>

        <form method="post" action="/listings/<%= listing._id %>/review">
            <div class="poppins-regular ratingBox">
                <label for="rating">Rating
                </label>
    
                <input type="range" min="1" max="5" id="rating" name="review[rating]">
            </div>
            
            <div class="poppins-regular commentBox">
                <label for="comment">Your thoughts..
                </label>

                <textarea name="review[comment]" id="comment" rows="4" required></textarea>
            </div>
            
            
            <button type="submit" class="submitBtn">Post</button>

        </form>
    </div>

    
    <% if(listing.review[0]){ %>
        <hr>

        <h5 class="reviewsText"><u>Reviews</u></h5>

    <% } %>
    

    <div class="allReviews">    
        
            <% for(review of listing.review){ %>
                
                    <div class="showReviewBox">
                        <p class="reviewUsername">Masamasaowl</p>
                        <p class="reviewRating"><%= review.rating %> stars</p>
                        <p class="reviewComment"><%= review.comment %></p>

                        <% if(currUser && currUser.username === listing.owner[0].username){ %>

                        <form method="post" action="/listings/<%= listing._id %>/review/<%= review._id %>?_method=DELETE">

                            <button class="deleteBtn delReviewBtn">Delete</button>
                        </form>

                        <% } %> 
                    </div>     
            <% } %>
    
    </div>
       
</body>
