<% layout("../layouts/boilerplate.ejs") %>

<body>

    <h2 class="poppins-regular">
        Here is a detailed view of the listing
    </h2>

    <div class="container">
        <p class=" poppins-regular" >your id is : <%= listing._id %></p>

        <p class=" poppins-regular" ><%= listing.title %></p>

        <p class=" poppins-regular" ><%= listing.description %></p>

        <!-- for price  we use symbols -->
        <p class=" poppins-regular" >&#8377;<%= listing.price.toLocaleString("en-IN") %></p>

        <p class=" poppins-regular" ><%= listing.location %></p>

        <p class=" poppins-regular" ><%= listing.country %></p>
    </div>

    <div class="editListing">
        <form method="get" action="/listings/edit/<%= listing._id %>">

            <button type="submit" class=" poppins-regular">Edit listing</button>

        </form>
    </div>

    <div class="deleteListing">
        <form method="post" action="/listings/delete/<%= listing._id %>?_method=DELETE">

            <button type="submit" class=" poppins-regular">Delete listing</button>

        </form>
    </div>

</body>
